body, menu {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.padre {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.contacts {
    width: 200px;
    background-color: #FFF;
    height: 100vh;
}

.mensajes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.mensajes-area {
    width: 200px;
}

.mensajes img {
    width: 250px;
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}